<div class="contacts table" aria-labelledby="contacts-caption-text">
    <table class="table" id="contatos">
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Numero</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody id="lista_contatos">
            <tbody id="lista_contatos" ng-repeat="contato in contatos | filter:search.text">
                <tr ng-click="abrirContato(contato.id)" id="id_contato_{{contato.id}}" class="contatos">
                    <td>{{contato.nome}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.numero}}</td>
                    <td>
                        <button type="button" class="btn-s btn-danger" ng-confirm-click="Tem certeza que gostaria de remover ?" confirmed-click="excluir(contato.id)">X</button>
                        <button type="button" class="btn-s btn-primary" ng-click="edita(contato.id)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>